<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Code smells</title>
<style>
* { margin: 0; padding: 0; }
body { font: 12px/1.309 Courier, 'Courier New', monospace; margin: 2em; width: 800px; margin: 2em auto; background: #f7f7f7; }
h1 { font-size: 21px; font-weight: 900; margin: 0; }
h2 { font-size: 36px; font-weight: 100; margin: 0; }
h3 { font-size: 18px; font-weight: 100; margin: 1em 0 0 0; }
table {width: 100%; background: #fff; border-collapse:collapse; border:1px solid #CCC; margin:10px 0}
	table th, table td { padding: 0.309em 0.618em;text-align: left;vertical-align: top;border-bottom:1px solid #CCC}
span[style='color: #0C0;'] { color: green !important; }
code { font: inherit; }
</style>
<script type="text/javascript" src="//use.typekit.net/kyi0hfo.js"></script>
<script type="text/javascript">	try { Typekit.load(); } catch (e) { }</script>
</head>

<body class="tk-ff-enzo-web">
	<h1>Code smells</h1>
	@RenderBody()
</body>
</html>
